*.suo
IMS/IMS/bin/
*.vs
*.cache
Sun_Nan/IMS/.vs/config/applicationhost.config
Sun_Nan/IMS/.vs/IMS/v15/Server/sqlite3/db.lock
Sun_Nan/IMS/.vs/IMS/v15/Server/sqlite3/storage.ide
Sun_Nan/IMS/.vs/IMS/v15/Server/sqlite3/storage.ide-shm
Sun_Nan/IMS/.vs/IMS/v15/Server/sqlite3/storage.ide-wal
Sun_Nan/IMS/.vs
Sun_Nan/IMS/packages/*
Sun_Nan/IMS/IMS/bin/
